.partners-table {
	        margin: 0 auto;
	        border-spacing: 0px;
            }

            td {
	        max-width: 300px;
	        text-align: center;
	        vertical-align: middle;
	        padding: 10px;
            }

            .partners-logo {
	        width: 220px;
	        height: 120px;
	        object-fit: contain;
            filter: grayscale(100%);
            }

            .partners-logo:hover {
            filter: grayscale(0%);
            }