 /* Fixed/sticky icon bar, source: https://www.w3schools.com/howto/howto_css_sticky_social_bar.asp */
.icon-bar {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
}

/* Icon bar links style */
.icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: 0.3s;
	color: white;
	font-size: 20px;
}

/* Social Media icons style */
.icon-bar a:hover {
	background-color: #000;
}

.facebook, .twitter, .linkedin, .youtube {
	color: white;
}

.facebook {
	background: #3B5998;
	
}

.twitter {
	background: #55ACEE;
	
}

.linkedin {
	background: #007bb5;
	
}

.youtube {
	background: #bb0000;
} 